body {
	background-color: #faedf2;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 0;
	text-align: center;
}

header img {
	max-width: 250px;
	border-radius: 100%;
}


.products {
	margin-top: 30px;
	margin: 50px auto;
	max-width: 1200px;
	padding: 0 20px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.products h2 {
	color: #000;
	font-size: 28px;
	margin-bottom: 20px;
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.column {
	flex: 1 0 200px;
	padding: 0 10px;
	margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.438);
}

h4 {
	margin-top: 5px;
	color: #fe395d;
}

.column img {
	margin-top: 7px;
	max-width: 100%;
}

#resize13 {
	height: 30vh;
}

#resize16 {
    height: 30vh;
}

.column h3 {
	text-align: center;
	color: #000;
	font-size: 20px;
	margin: 10px 0;
}

.column p {
	font-weight: bold;
	color: #272727;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}

.column span {
	font-weight: normal;
	text-decoration: line-through;
	color: #fe395d;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

button {
    margin-bottom: 20px;
    background-color: #fe395d;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
	cursor: pointer;
}

button:hover {
	transition: 0.3s ease;
	background-color: #fe395da4;
}
